// fonts
$open: "opensans";
body {
    font: 400 16px $open;
    clear: $dark;
}
@font-face {
    font-family: $open;
    src: url(../fonts/OpenSans-Light.ttf) format("TrueType");
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: $open;
    src: url(../fonts/OpenSans-Regular.ttf) format("TrueType");
    font-weight: 400;
    font-display: swap;

}

@font-face {
    font-family: $open;
    src: url(../fonts/OpenSans-Medium.ttf) format("TrueType");
    font-weight: 500;
    font-display: swap;

}

@font-face {
    font-family: $open;
    src: url(../fonts/OpenSans-SemiBold.ttf) format("TrueType");
    font-weight: 600;
    font-display: swap;

}

@font-face {
    font-family: $open;
    src: url(../fonts/OpenSans-Bold.ttf) format("TrueType");
    font-weight: 700;
    font-display: swap;

}

