.footer-upper {
    height: 155px;
    display: flex;
    align-items: center;
    background-color: $secondary-200;
    .footer-logo {
        display: flex;
        justify-content: start;
    }
}
footer {
    padding: 60px 0;
    color: $white;
    background-color: $secondary;
    ol {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .links {
        .title {
            font-weight: 600;
            margin-bottom: 10px;
        }
        a {
            font-size: 16px;
            color: rgba($color: $white, $alpha: 0.6);
        }
    }
}
.footer-below {
    height: 77px;
    background-color: $secondary-100;
    display: flex;
    align-items: center;
    color: $white;
    @include media-down("sm") {
        font-size: 14px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .links {
        display: flex;
        gap: 40px;
    }
}

.copyright {
    color: $white;
    display: flex;
    align-items: center;
    background-color: $secondary-dark;
    padding: 40px 0;
    font-size: 12px;
    .links {
        display: flex;
        gap: 30px;
    }
}
.footer-call-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    flex-direction: column;
    z-index: 20;
    background-color: $primary;
    color: $white;
    .phone {
        padding: 15px;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 25px;
        font-weight: 700;
        i {
            font-size: 40px;
        }
        margin: auto;
    }
    .infos {
        font-size: 10px;
        font-weight: 700;
        span {
            margin-left: 30px;
        }
    }
}
@include media-down("md") {
    .footer-call-btn {
        display: flex;
    }
}
@include media-down("sm") {
    .footer-upper {
        height: auto;
        padding: 30px 0;
        .footer-logo {
            justify-content: center;
        }
    }
    .copyright {
        padding: 20px 0;
        .links {
            gap: 10px;
        }
    }
}

@media (max-width:360px) {
    .footer-call-btn {
       
        .phone{
            font-size: 20px;
            i{
                font-size: 32px;
            }
        }
    }

}