section{
    padding: 50px 0;
    @include media-down("lg"){
        padding: 20px 0;
    }
}

.first-section{
    padding-top: 104px;
}

@include media-down("md"){
    .first-section{
        padding-top: 60px;
    }
}
body:not(.page-loaded){
    transition: none;
}