section{
    padding: 100px 0;
    @include media-down("lg"){
        padding: 50px 0;
    }
}

.first-section{
    padding-top: 164px;
}

@include media-down("md"){
    .first-section{
        padding-top: 120px;
    }
}