.lang-wrap {
    margin-right: 20px;
    a {
        .icon {
            font-size: 18px;
        }
    }
}
header {
    background-color: $white;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    min-height: 100px;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 5px;
    z-index: 10;
    &.m-active {
        .nav {
            max-height: 300px;
        }
    }
    .mobile-wrap-btn {
        color: $secondary;
        font-size: 40px;
        display: none;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav {
        .navbar {
            display: flex;
            list-style: none;
            gap: 38px;
            font-size: 16px;
            color: $secondary;
        }
    }
    .search-wrap {
        display: flex;
        align-items: center;
        position: relative;
        .close-search-head {
            position: absolute;
            right: 33px;
            display: none;
            cursor: pointer;
        }
        .search-header {
            margin-right: 30px;
            font-size: 24px;
            color: $primary;
            cursor: pointer;
        }
        .search-input-head {
            background-color: #f5f5f5;
            padding: 10px 20px;
            border-radius: 18px;
            margin-right: 20px;
            width: 300px;
            display: none;
        }
        &.active {
            .close-search-head {
                display: block;
            }
            .search-header {
                margin-right: 10px;
            }
            .search-input-head {
                display: block;
            }
        }
    }
}

@include media-down("xl") {
    header {
        .nav {
            .navbar {
                display: flex;
                list-style: none;
                gap: 10px;
                font-size: 16px;
                color: $secondary;
            }
        }
    }
}

@include media-down("md") {
    .lang-wrap {
        border-left: none;
        margin: 20px 0;
        a {
            .icon {
                font-size: 18px;
            }
        }
    }
    .header-top {
        ol {
            gap: 15px;
        }
    }
    header {
        min-height: auto;

        .mobile-wrap-btn {
            display: flex;
        }
        .logo {
            padding: 20px 0;
            width: 160px;
        }
        .container {
            flex-wrap: wrap;
        }
        .nav {
            flex-basis: 100%;
            overflow: hidden;
            max-height: 0;
            transition: $transition;

            .navbar {
                padding-bottom: 20px;
                flex-direction: column;
                overflow: auto;
            }
        }
      
    }
}

